.content--max {
  width: 1300px;
}

.bullet-red-note {
  font-size: 14px;
  color: rgb(255 97 97 / 100%);
}

.my-bullet {
  padding: 87px 0;

  & .my-bullet--title {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-bottom-color);

    & .my-bullet--title__left {
      position: relative;
      padding-bottom: 10px;

      & span {
        position: relative;
        margin-right: 40px;
        font-size: 28px;
        font-weight: 700;
        line-height: 38px;
        color: var(--color-sub);
        cursor: pointer;

        &.active {
          color: white;
        }
      }

      & .left__line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100px;
        height: 2px;
        content: '';
        background-color: var(--color-primary);
        transition: all 0.3s;
        transform: translateX(0);
      }
    }

    & .my-bullet--title__right {
      & :deep(.y-button) {
        height: 36px;

        &:not(:last-child) {
          margin-right: 16px;
        }

        & .el-button {
          font-size: 14px;
          font-weight: 500;
        }
      }
    }
  }

  & .my-bullet--table {
    padding-top: 40px;

    & :deep(.el-table) {
      & .el-input-number .el-input__inner {
        padding: 0 5px;
        font-size: 16px;
        text-align: right;
      }

      & .cell {
        padding: 0 6px;
      }

      & .el-table__empty-text {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 200px;
      }

      & .el-input-number {
        & .el-input__wrapper {
          height: 32px;
        }
      }

      & .caret-wrapper {
        left: -2px;
        width: 14px;

        & .sort-caret {
          border-width: 4px;

          &.ascending {
            top: -3px;
          }

          &.descending {
            bottom: -1px;
          }
        }
      }
    }

    & .my-bullet--table__select {
      margin-bottom: 40px;

      & span {
        margin-right: 12px;
        color: var(--color-sub);
      }

      & :deep(.el-input__wrapper) {
        background-color: var(--dialog-bg);
      }
    }

    & .my-bullet--table__body {
      & :deep(.y-table__wrap) {
        padding: 0px;
        background: none;
        border: none;
        box-shadow: none;
      }
      & :deep(.el-table__body-wrapper) {
        & .el-table__row {
          --radius: 8px;
          background: #212121;
          border-radius: 8px;
          box-shadow: none;
          & td {
            border-top: none;
            border-bottom: none;
          }
        }
      }
      & :deep(.el-checkbox) {
        & .el-checkbox__input {
          & .el-checkbox__original:checked + .el-checkbox__inner {
            background: red;
          }
          & .el-checkbox__inner {
            width: 20px;
            height: 20px;
            background: #414141;
            border: 1px solid transparent;
            border-radius: 2px;
            &:hover {
              border: 1px solid rgba(0, 223, 154, 0.12);
            }
            &checked {
              color: #00df9a;
              background: rgba(0, 223, 154, 0.12);
              border: 1px solid rgba(0, 223, 154, 0.12);
            }
          }
        }
      }
    }

    & .edit-buttons {
      display: flex;
      justify-content: center;
      margin-top: 40px;

      & > * {
        width: 185px;
        height: 40px;
        margin: 0 8px;

        &.y-button.green.light {
          & :deep(.el-button) {
            -webkit-text-fill-color: var(--color-primary);
            background: none;
          }
        }

        & :deep(.el-button) {
          font-size: 14px;
        }
      }
    }

    & .my-bullet__pagination {
      display: flex;
      justify-content: center;
      margin-top: 60px;
    }
  }
}

:deep(.dialog-bullet) {
  background: #212121;
  border-radius: 8px;

  & .el-dialog__body {
    padding: 0;
    padding-top: 36px;

    & .bullet-title {
      padding: 0 24px 24px;
      border-bottom: 1px solid var(--border-bottom-color);
    }

    & .bullet-content {
      padding: 24px 24px 0;
    }
    & .bullet-content-block {
      display: flex;
      margin-bottom: 20px;
      font-size: 14px;

      & > span {
        flex-basis: 142px;
        margin-right: 24px;
        color: var(--color-sub);
      }

      & > div {
        flex: 1;

        & .el-input__wrapper {
          font-size: 14px;
          background: #313131;
          border: 1px solid transparent;
          border-radius: 4px;
          box-shadow: none;

          &:focus-within {
            border: 1px solid #00df9a;
          }
        }

        & .content-recommend {
          font-size: 12px;
        }
      }
    }
  }

  & .el-dialog__footer {
    & .dialog-bullet-button {
      display: flex;
      justify-content: center;

      & > * {
        width: 177px;
        height: 52px;
        margin: 0 6px;

        & .el-button {
          font-size: 14px;
        }
      }
    }
  }
}

:deep(.el-select .el-input__wrapper) {
  height: 40px;
  background: var(--card-bg);

  & .el-input__inner {
    width: 170px;
    height: 40px;
    font-size: 14px;
  }
}

.earlier-select {
  font-size: 14px;

  & .el-select-dropdown__item {
    font-size: 14px;
  }
}

.inSale {
  color: var(--color-primary);
}

.operation-button {
  & :deep(.y-button) {
    width: 70px;
    height: 36px;

    & .el-button {
      font-size: 14px;
      font-weight: 500;
    }
  }
}
