.root {
  --page-space: 16px;
  --screen-xs: 375px;
  --screen-sm: 768px;
  --screen-lg: 1300px;
}

.page--flex {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
}

.content--max {
  box-sizing: border-box;
  margin: 0 auto;
}

@media screen and (width <= 768px) {
  html {
    min-width: var(--screen-xs);
  }

  .content--max {
    width: calc(var(--screen-xs) - var(--page-space));
  }
}
@media screen and (width > 768px) {
  html {
    min-width: calc(var(--screen-lg) + var(--page-space));
  }

  .content--max {
    width: var(--screen-lg);
  }
}
